<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @company.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @company.last_name %>
</p>

<p>
  <strong>School name:</strong>
  <%= @company.school_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @company.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @company.address2 %>
</p>

<p>
  <strong>Business area:</strong>
  <%= @company.business_area %>
</p>

<p>
  <strong>Person title:</strong>
  <%= @company.person_title %>
</p>

<p>
  <strong>Industry type:</strong>
  <%= @company.industry_type %>
</p>

<p>
  <strong>Dept size:</strong>
  <%= @company.dept_size %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @company.zip_code %>
</p>

<p>
  <strong>About:</strong>
  <%= @company.about %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
