<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @attorney.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @attorney.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @attorney.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @attorney.email %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @attorney.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @attorney.address2 %>
</p>

<p>
  <strong>Country:</strong>
  <%= @attorney.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @attorney.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @attorney.zip_code %>
</p>

<p>
  <strong>School name:</strong>
  <%= @attorney.school_name %>
</p>

<p>
  <strong>Greduate year:</strong>
  <%= @attorney.greduate_year %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @attorney.jurisdiction %>
</p>

<p>
  <strong>Altematives:</strong>
  <%= @attorney.altematives %>
</p>

<p>
  <strong>Expert:</strong>
  <%= @attorney.expert %>
</p>

<p>
  <strong>Support:</strong>
  <%= @attorney.support %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @attorney.gender %>
</p>

<p>
  <strong>About:</strong>
  <%= @attorney.about %>
</p>

<%= link_to 'Edit', edit_attorney_path(@attorney) %> |
<%= link_to 'Back', attorneys_path %>
